In [143]:
import pandas as pd

In [144]:
df = pd.read_csv("data.csv", sep=";")

In [145]:
df = df.apply(lambda x: x.str.replace(',','.'))

In [146]:
df['Fertility rate'] = df['Fertility rate'].astype(float)
df['Life expectancy at birth'] = df['Life expectancy at birth'].astype(float)
df

   Country  Fertility rate  Life expectancy at birth
0       x1           1.300                  76.84878
1       x2           1.950                  81.40732
2       x3           2.466                  77.57895
3       x4           1.600                  74.16341
4       x5           2.952                  68.84907
5       x6           1.801                  73.88595
6       x7           1.340                  75.26829
7       x8           1.340                  76.26098
8       x9           1.630                  80.57244
9      x10           2.326                  65.46259
10     x11           2.436                  67.54820
11     x12           6.563                  55.02451
12     x13           1.283                  76.27990
13     x14           1.430                  82.29024
14     x15           1.988                  69.80695
15     x16           1.610                  81.40112
16     x17           1.921                  82.19756
17     x18           2.400                  74.22683
18     x19           1.495                  80.12888
19     x20           4.705                  45.55095

In [147]:
srednia = round(df['Life expectancy at birth'].mean(), 1)
mediana = round(df['Life expectancy at birth'].median(), 1)
moda = round(df['Life expectancy at birth'].mode(), 1)
wariancja = round(df['Life expectancy at birth'].var(), 1)
print(f"Średnia: {srednia },\nMediana: {mediana}, \nWariancja: {wariancja} \nModa: {moda}")

Średnia: 73.2,
Mediana: 75.8,
Wariancja: 88.2
Moda: 0     45.6
1     55.0
2     65.5
3     67.5
4     68.8
5     69.8
6     73.9
7     74.2
8     74.2
9     75.3
10    76.3
11    76.3
12    76.8
13    77.6
14    80.1
15    80.6
16    81.4
17    81.4
18    82.2
19    82.3
dtype: float64

In [148]:
kowariancja = df['Life expectancy at birth'].cov(df['Fertility rate'])
print(f"Kowariancja: {round(kowariancja, 2)}")

Kowariancja: -9.94

In [149]:
df.cov()

                          Fertility rate  Life expectancy at birth
Fertility rate                  1.665356                 -9.943704
Life expectancy at birth       -9.943704                 88.194112

In [150]:
df.corr()

                          Fertility rate  Life expectancy at birth
Fertility rate                  1.000000                 -0.820493
Life expectancy at birth       -0.820493                  1.000000

In [151]:
korelacja = df['Life expectancy at birth'].cov(df['Fertility rate']) / (df['Life expectancy at birth'].std() * df['Fertility rate'].std())
print(f"Korelacja: {round(korelacja, 2)}")

Korelacja: -0.82

# Podsumowanie:
##### Korelacja na poziomie -0,82 jest bardzo wysoka natomiast w naszym przypadku dochodzę do wniosku że jest to przypadek. Dzietność nie powinna mieć wpływu na oczekiwaną długość życią.
##### Wysoką korelację można wytłumaczyć tym, że w niska dzietność zazwyczaj występuje w krajach wysoko rozwiniętych gdzie zazwyczaj również występuje ponad przeciętna długość życia.

In [172]:
znorm_roz_norm = 1.96
odch_std_pop = 9.09

poz_uf_dol = srednia - (znorm_roz_norm * (odch_std_pop/ (df['Life expectancy at birth'].count()**1/2)))
poz_uf_gor = srednia + (znorm_roz_norm * (odch_std_pop/ (df['Life expectancy at birth'].count()**1/2)))
print(f"Średnia: {srednia}\nŚrednia oczekiwana długość życia leży pomiędzy:\n{round(poz_uf,2)} lat a {round(poz_uf_gor,2)} lat")

Średnia: 73.2
Średnia oczekiwana długość życia leży pomiędzy:
73.15 lat a 74.98 lat